{% extends "base.html"%}
{% block content %}
<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Populate using Ve</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="/warehouse_receiving/" class="btn btn-primary">Go Warehouse</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Populate Database</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="populateDatabase.html" class="btn btn-primary">Go Database</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}