{% extends 'base.html' %}

{% block content %}
{% if messages %}
<div class="alert view">
  {% for message in messages %}
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
      <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>
      <strong>Error!</strong> {{ message }} </p>
    {% endfor %}
  </div>
{% endif %}

<div class="warehouse-receiving-container">

<form action ="{% url 'inventory:receive-purchase-order-product' selected_date %}" method = "POST" class="d-flex" id = "myForm"> {% csrf_token %}
    <input class="form-control me-2" name = "search" type="search" placeholder="Search" aria-label="Search" autofocus>
    <button class="btn btn-outline-success" type="button
    " id = "search_btn">Search</button>
  </form>

  <ul class="list-group warehouse-receiving-list">
    {% if purchaseOrder %}
        {% for item in purchaseOrder %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class = "product_container" style="display:flex; flex-direction:row; width: 100%;">
            <div class = "vendor_container" style="width: 20%;">
              {{item.po_number}}
            </div>
            <div class = "name_container"style="width: 45%;">
              {{item.vendor}}
            </div>
            <div class = "name_container"style="width: 10%;">
              {{item.delivery_date}}
            </div>
            <div class = "delete_container" style="width: 10%;">
              <!-- <form action = "{{item.id}}/delete" method="GET">{% csrf_token %}
                <button type="submit" class="btn btn-outline-primary" >Edit</button>
              </form> -->
                <p>{{item.number_received}}/{{item.number_ordered}}</p>  
            </div>
            <div class = "delete_container" style="width: 10%;">
              <span class="position-absolute top-50 translate-middle p-2 bg-{{item.get_badge_display}} border border-light rounded-circle">
                <span class="visually-hidden">New alerts</span>
              </span>
            </div>
            <div class = "delete_container" style="width: 10%;">
              <form action = "{{item.get_purchase_order_view_url}}" method="GET">{% csrf_token %}
                <button type="submit" class="btn btn-outline-danger" >View</button>
              </form>
            </div>
            
        </div>
      </li>
    {% endfor %}
    {% else%}
    <li class="list-group-item d-flex justify-content-between align-items-center" style="width: 80vw;">
        <p>There is no purchase order</p>
    </li>
    {% endif%}
    
    </ul>
</div>
{% endblock content %}